{% extends 'store/layouts/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h5>Welcome to order, free cancer patch</h5>
            <br>
            <p>           After getting the 20cm X 5cm patch, please cut it into a small sheet of 2cm X 5cm. Please watch the video for how to use it</p>
            <br>
          
            <p>          You can tear it off from the short side and fix it first, then tear off the long side and stick it on the acupuncture point, and finally tear off the support film on it. Each small sticker can be used for 7-10 days. If you stick it for a long time, you will be allergic, so you don’t need to stick the original one. place, paste it near the acupoints, the same effect</p>
            <br>
            <p><b>*</b>   4 acupoints - Rangu, Sanyinjiao, Zhangmen and Kongzui</p>
            <p><b>*</b>   Cancer patch are divided into cold and hot stickers, with cold patch on the left and hot patch on the right.</p>
            <br>

            <h5>To request a free Ziwei anti-cancer patch, please attach:</h5>
            <br>
            <p><b>*  </b>copy of cancer certificate</p>
            <p><b>*  </b>Copy of ID card</p>
            <p><b>*  </b> 100-word self-statement</p>
            <p><b>*  </b>Disclaimer, our association is not responsible for any consequences after using patches</p>
            <p><b>*  </b> your email</p>
            <p><b>*  </b> mail to meilan88@gmail.com</p>
            <br>
            <br>
            <p>Those who have not been diagnosed with cancer will not be accepted</p>
        </div>
    </div>
</div>
{% endblock content %}